<h1 class="text-center">Arsenal Merchandise</h1>



<div class="container">




    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
            <nav class="nav nav-list flex-column">
                <a class="nav-link active" href="#card1">Jacket</a>
                <a class="nav-link active" href="#card2">Tshirt</a>
                <a class="nav-link active" href="#card3">Cap</a>
                <a class="nav-link active" href="#card4">Scarf</a>
                <a class="nav-link active" href="#card5">Tie</a>
                <a class="nav-link active" href="#card6">Bags</a>
                <a class="nav-link active" href="#card7">Wallet</a>
                <a class="nav-link active" href="#card8">Watch</a>
                <a class="nav-link active" href="#card9">Sunglasses</a>
                <a class="nav-link active" href="#card10">Shorts</a>
            </nav>
        </div>


        <div class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
            <div class="row">
                <div id="card1" class=" card-container  col-sm-12 col-md-6 col-lg-4">
                    <div class="card d-flex flex-wrap">
                        <img class="card-img-top prod-img img-fluid" src="/public/img/jacket.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jacket</h5>
                            <p class="card-text">MEN'S SOCCER ARSENAL LNY JACKET
                            </p>
                            <a href="#modal1" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card2" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img img-fluid" src="/public/img/tshirt.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Tshirt</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal2" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card3" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/hat.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cap</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal3" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card4" class=" card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/scarves.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Scarves</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal4" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card5" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/tie.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Tie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal5" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card6" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/bags.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Bags</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal6" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card7" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/wallet.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Wallet</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal7" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card8" class="card-container wcol-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/watch.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Watch</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal8" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card9" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/sunglass.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Sunglass</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal9" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div id="card10" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/short.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Short</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#modal10" data-toggle="modal" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







{{!-- modals --}}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>