<h1 class="text-center">Arsenal Merchandise</h1>



<div class="container">




    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
            <nav class="nav nav-list flex-column">
                <a class="nav-link active" href="#card1">Jacket</a>
                <a class="nav-link active" href="#card2">Tshirt</a>
                <a class="nav-link active" href="#card3">Cap</a>
                <a class="nav-link active" href="#card4">Scarf</a>
                <a class="nav-link active" href="#card5">Tie</a>
                <a class="nav-link active" href="#card6">Bags</a>
                <a class="nav-link active" href="#card7">Wallet</a>
                <a class="nav-link active" href="#card8">Watch</a>
                <a class="nav-link active" href="#card9">Sunglasses</a>
                <a class="nav-link active" href="#card10">Shorts</a>
            </nav>
        </div>


        <div class="col-xs-12 col-sm-10 col-lg-10 col-md-10">
            <div class="row">
                <div id="card1" class=" card-container  col-sm-12 col-md-6 col-lg-4">
                    <div class="card d-flex flex-wrap">
                        <img class="card-img-top prod-img img-fluid" src="/public/img/jacket.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Jacket</h2>
                            
                            <a href="#modal1" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card2" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img img-fluid" src="/public/img/tshirt.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Tshirt</h2>
                           
                            <a href="#modal2" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card3" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/hat.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">Cap</h2>
                           
                            <a href="#modal3" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card4" class=" card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/scarves.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Scarves</h2>
                           
                            <a href="#modal4" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card5" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/tie.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Tie</h2>
                            
                            <a href="#modal5" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card6" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/bags.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Bags</h2>
                            
                            <a href="#modal6" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card7" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/wallet.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Wallet</h2>
                            
                            <a href="#modal7" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card8" class="card-container wcol-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/watch.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Watch</h2>
                            
                            <a href="#modal8" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card9" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/sunglass.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Sunglass</h2>
                           
                            <a href="#modal9" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
                <div id="card10" class="card-container col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top prod-img" src="/public/img/short.jpeg" alt="Card image cap">

                        <div class="card-body">
                            <h2 class="card-title">Short</h2>
                            
                            <a href="#modal10" data-toggle="modal" class="btn btn-secondary">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







{{!-- modals --}}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel1">Jacket</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The hotter the heat, the higher they rise. This adidas soccer jacket links Arsenal with the ever-rising phoenix. A reflection of the club's unbreakable spirit, the mythical beast sits intricately embroidered on each sleeve. Smooth satin makes this bomber too sharp to save for celebrations only.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel2">Tshirt</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Arsenal were knockout kings in '93. This juniors' soccer jersey remixes a classic look from a dominant period in the North London club's history. Made for fans, it puts comfort first with silky, sweat-wicking fabric and a slightly looser fit compared to the players' shirts. A woven badge sits proudly on the chest.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel3">Cap</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Wear the iconic crest and colors of Arsenal FC. Made for dedicated fans of the Gunners, this soccer hat shares in the energy of a new era at the club.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel4">Scarf</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Share in the energy of a new era for Arsenal FC. Made for serious fans of the club, this soccer scarf shares classic Arsenal DNA. 3-Stripes mark the start of a new era of domination.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel5">Tie</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Check out our stylish and versatile dark blue polyester skinny tie with gold cannon emblem. Team with a crisp white shirt to create the perfect look for weddings, parties or even work.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel6">Bag</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Keep all your essentials safe with this Arsenal Medium Backpack made from a recycled polyester mix material. The bag features a large zipped section with padded laptop compartment making it perfect for work, school or leisure. The bag is finished with the club crest and 3-stripe adidas logo.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel7">Wallet</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Mens wallet with leather build and embroidered Arsenal FC football crest. The Arsenal FC Leather Wallet With Football Crest is an official product manufactured under license for Arsenal FC.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel8" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel8">Watch</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Kids will love to learn how to tell the time with our Arsenal Navy Nylon Strap Red Dial Watch. The child-friendly design means our young fans can follow the time as simple as possible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel9" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel9">Sunglasses</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The iconic Wayfarer style of sunglasses now comes with the Arsenal stamp of approval. The tinted lens features Arsenal lettering with the Arsenal crest on the arm of the glasses
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel10" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel10">Shorts</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The Arsenal 19/20 Training Shorts are perfect for training with their quick-drying fabric that combats heat. The regular-fit style and elasticated waist offer a comfortable fit with mesh panel inserts for breathability.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>